# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
.pnpm-store
.DS_Store
dist
dist-ssr
coverage
e2e-coverage
pct-coverage
*.local
*.tsbuildinfo
.turbo

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
